@model CMSUsersAndRoles.Models.OrderDetail

@{
    ViewBag.Title = "EditOrderDetail";
    Layout = null;
}


    <div id="row" class="row">
        <table>

            @using (Html.BeginCollectionItem("orderDetail"))

            {

                <tr>
                    @Html.HiddenFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.OrderDetailId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control ProductId" } })
                    @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control SKU" } })
                    @Html.DropDownListFor(model => model.ProductId, new SelectList(ViewBag.ProductData, "ProductId", "Name"), "---Select one---", new { required = "required", htmlAttributes = new { @class = "ProductName" } })
                    @Html.HiddenFor(model => model.ProductName)

                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control amount" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.ListPrice, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control listprice" } })
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control discount" } })
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control price" } })
                    
                    
                    @Ajax.ActionLink(" ", "DeleteProduct", "OrderViewModel", new { orderId = Model.OrderId, orderDetailId = (Model.OrderDetailId) },
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              Confirm = "Are you Sure You Want to Delete " + Model.ProductName,
                              OnSuccess = "RemoveRow"
                          },
                          new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </tr>
            }

        </table>
    </div>
       
    


